body {
    margin: 12px auto;
    width: 90%;
    /* background-color: #E6E6FA; */
    background-image: url('../sky.jpg');
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4169E1;
  color: #fff;
  opacity: 0.6;
  padding: 20px;
  text-align: center;
  border: 5px ;
  border-radius: 10px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #fffff;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 10px;
}
h1 {
    font-size: 1.5em;
    margin-left: 40px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.2em;
    margin-left: 7px;
    color:#000080;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
input{
  size:1px;
  font-size: 15px;
  /* margin: 10px; */
  font-family: 'Georgia';
  background-color:#FFFF00;
  border: 2px solid #ffffff;
  border-radius: 5px;
}
/* footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
} */

footer {
  background-color: #696969;
  color: #000000;
  text-align: left;
  margin-left: 40px;
  margin-bottom: 0px;
  height: 140px;
  /* margin-top: 40px; */
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.float-parent-element {
    width: 100%;
}
.float-child-element {
    float: left;
    width: 20%;
    /* background-image: url('../bg4.jpg'); */
}
.float-child-element-rt {
    float: right;
    width: 80%;
    /* background-image: url('../bg2.jpg'); */
}
.col_bg {
    background-color: white;
    margin-left: 0%;
    height: 100px;
}
.yellow {
    margin-left: 3%;
    height: 100px;
    background-color: yellow;
}
img {
  border-radius: 50%;
}

.education {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.education-image {
  width: 8%;
  margin-right: 20px;
}

.education-text {
  width: 90%;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.publications {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.publications-image {
  width: 12%;
  margin-right: 20px;
}

.publications-text {
  width: 90%;
}
